@page "/addAdults"
@using Models
@inject LoggedIn _loggedIn


@if (_loggedIn.loggedIn)
{
    @if (!buttonPressed)
    {
        <h1>Add adult</h1>
        <p>Here you can add new adults.</p>
        <button @onclick="addButtonPressed">Add</button>
    }


@if (buttonPressed)
{
    <AddInformationAboutAdult/>   
}
}
@if (!_loggedIn.loggedIn)
{
    <h1>You must first login to add Adults.</h1>
}





@code {
    private Boolean buttonPressed = false;

    public void addButtonPressed()
    {
        buttonPressed = true;
    }

}