@page "/addAdults"




@if (!buttonPressed)
{
    <h1>Add adult</h1>
    <p>Here you can add new adults.</p>
    <button @onclick="addButtonPressed">Add</button>
}


@if (buttonPressed)
{
    <AddInformationAboutAdult/>   
}




@code {
    private Boolean buttonPressed = false;

    public void addButtonPressed()
    {
        buttonPressed = true;
    }

}